body{
    background: url('matrix.jpg') no-repeat  ;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 10rem;
    min-height: 50vh

}
.mainDiv{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    height: 250px;
    width: 550px;
    text-align: center;
    margin: auto;
    padding: .25srem;
    border: 5px solid black;
    align-items: center;
    box-shadow: 3px 3px 10px 10px green;
}
h2{
    margin: 0;
    font-size: 2.5rem;
    background: rgba(0, 0, 0, .7);
}
.output{
    margin: 1rem;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 1);
}
